<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated partialgenmodel -->
      <package
            uri="http://www.example.org/partialmodel"
            class="partialmodel.PartialmodelPackage"
            genModel="model/partialgenmodel.genmodel"/>
   </extension>

</plugin>
